.footer-container {
  height: 60px;
  position: sticky;
  bottom: 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding-top: 15px;
}

.footer-container .icon {
  font-size: 25px;
  cursor: pointer;
}

.footer-container .disabled {
  color: #d6d6d6;
}
.cart {
  position: relative;
}

.cart .cart-count {
  position: absolute;
  top: -5px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #3d3d3d;
  color: white;
  padding: 1px 4px;
}